<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
          <div class="container">
          <div>
            <h1><%=title%></h1>
            <hr>
            <div class="image">
              <img src="<%= imageUrl %>"  alt="<%= title %>">
            </div>
           
            <h2 >$
              <%= price %>
            </h2>
            <hr/>
            <p >
              <%= description %>
          </p>
          <%- include('../includes/add-to-cart.ejs',{product:prod}) %>
        </div>
          </div>
        </main>
        <%- include('../includes/end.ejs') %>